<div class="table-container">
  <div class="table-container__content">
    <table class='table'>
      <thead class='table__head'>
        <tr>
          <input type="hidden" id="sortDirection" value={{head.sortDirection}}>
          <input type="hidden" id="sortedColumnId" value={{head.sortedColumnId}}>
          <th class='table__cell'>
            <div class='table__cell-head-content'>
              <span>
                Имя
              </span>
              <div class="table_cell-head-filters">

                <button class="icon" id="sortByName" data-sort-column>
                  <i class="icon icon_size_m  
                  {{#if (if_eq head.sortDirectionNameColumn 'asc') }} 
                    icon_type_sort-asc
                  {{else if (if_eq head.sortDirectionNameColumn 'desc') }}
                    icon_type_sort-desc 
                  {{else}}
                    icon_type_sort-default
                  {{/if}}">
                  </i>
                </button>
              </div>
            </div>

          </th>
          <th class='table__cell'>
            <div class='table__cell-head-content'>
              <span>
                Фамилия
              </span>
              <div class="table_cell-head-filters">

                <button class="icon" id="sortByLastName" data-sort-column>
                  <i class="icon icon_size_m
                  {{#if (if_eq head.sortDirectionLastNameColumn 'asc') }} 
                    icon_type_sort-asc
                  {{else if (if_eq head.sortDirectionLastNameColumn 'desc') }}
                    icon_type_sort-desc 
                  {{else}}
                    icon_type_sort-default
                  {{/if}}">
                  </i>
                </button>
              </div>
            </div>
          
          </th>
          {{#with head as |head|}}
          {{#if hasSexColumn}}
          <th class='table__cell'>
            <div class='table__cell-head-content'>
              <span>
                Пол
              </span>
              <div class="table_cell-head-filters">
                <button class="icon" id="sortBySex" data-sort-column>
                  <i class="icon icon_size_m  
                  {{#if (if_eq head.sortDirectionSexColumn 'asc') }} 
                    icon_type_sort-asc
                  {{else if (if_eq head.sortDirectionSexColumn 'desc') }}
                    icon_type_sort-desc 
                  {{else}}
                    icon_type_sort-default
                  {{/if}}">
                  </i>
                  <input type="hidden" id="sortDirectionSexColumn" value={{sortDirectionSexColumn}}>
                </button>
              </div>

            </div>
          </th>
          {{/if}}

          {{#if hasOpenPageColumn}}
          <th class='table__cell'>
            <div class='table__cell-head-content'>
              <span>
                 Страница открыта
              </span>
              <div class="table_cell-head-filters">
                <button class="icon" id="sortByOpenPage" data-sort-column>
                  <i class="icon icon_size_m
                  {{#if (if_eq head.sortDirectionPageOpenColumn 'asc') }} 
                    icon_type_sort-asc
                  {{else if (if_eq head.sortDirectionPageOpenColumn 'desc') }}
                    icon_type_sort-desc 
                  {{else}}
                    icon_type_sort-default
                  {{/if}}">
                  </i>
                </button>
              </div>
            </div>
           
          </th>
          {{/if}}
          {{/with}}

        </tr>
      </thead>
      <tbody id='tableBody' class='table__body'>
        {{#is_empty_array rows}}
        <!-- Пока не знаю, как точно colspan определить -->
        <tr class="table__body-empty">
          <td colspan="10">
            Пользователи не нашлись
          </td>
        </tr>
        {{/is_empty_array}}

        {{#each rows as |rows|}}
        <tr class="table__body-row">
          <td class='table__cell'>
            <div class="table__cell-content">
              <a href={{rows.friend_vk_page_link}} target="_blank" class="table__cell-vk-page-link" title="перейти на страницу vk">
                <i class="icon icon_size_m icon_type_vk-logo">
                </i>
              </a>
              {{rows.first_name}}
            </div>

          </td>
          <td class='table__cell'>
            {{rows.last_name}}
          </td>

          {{#if ../head.hasSexColumn}}
          <td class='table__cell'>
            {{rows.sex_text}}
          </td>
          {{/if}}

          {{#if ../head.hasOpenPageColumn}}
          <td class='table__cell'>
            {{rows.is_open_text}}
          </td>
          {{/if}}

        </tr>
        {{/each}}


      </tbody>
      <!-- 
    Этот скрипт не срабатывает при вставке частичного представления в html...
    <script>
    document.querySelectorAll('thead [data-popover-id]').forEach((triggerElement) => {
      new Popover({
        triggerElement
      })
    })

  </script>-->

    </table>
  </div>


  {{#with pagination}}

  <div class="pagination">
    <input type="hidden" value={{currentPage}} id="currentPage">
    {{#if paginationButtons.buttonPrev}}
    <button class="pagination__button" data-is-prev>
      &lt;
    </button>
    {{/if}}

    {{#each paginationButtons.buttons}}
    {{#if this}}
    <button
      class="pagination__button {{#if (if_eq this ../../pagination.currentPage)}} pagination__button_active {{/if}}">
      {{this}}
    </button>
    {{else}}
    ...
    {{/if}}


    {{/each}}

    {{#if paginationButtons.buttonNext}}
    <button class="pagination__button" data-is-next>
      &gt;
    </button>
    {{/if}}

  </div>

  {{/with}}
</div>